include ../base/utiles.jade

article.contenedor
	h1.logo
		a.enlace: img(src="img/logo.png")

	nav#menu: ul.lista
		li: a.enlace.activo Inicio
		li: a.enlace Empresa
		li: a.enlace Servicios
		li: a.enlace Videos
		li: a.enlace Galeria
		li: a.enlace Contactos




