@require "base/utiles"
@require "nib"
@require "rupture"

*
	//background-color rgba( 0, 0, 0, 0.1 )
	//outline 1px solid rgba( 255, 255, 0, 0.5 )

	&:hover
		//outline 1px solid rgba( 255, 0, 0, 0.3 )

global-reset()
reset-html5()

fuente( "roboto", "roboto-regular" )
fuente( "roboto", "roboto-medium", 500 )
fuente( "roboto", "roboto-light", 300 )
fuente( "roboto", "roboto-bold", bold )

body
	background-color white
	font-family "roboto"

img
	max-width 100%


.seccion
	min-height 100vh
	display flex
	align-items center

.contenedor
	display block
	max-width 1200px
	margin  0 auto
	display flex
	justify-content space-between
	align-items center

.contenido
	//align-self stretch

.titulo
	text-transform uppercase
	line-height 2
	border-bottom 2px solid azul
	margin 2rem auto
	width 214px
	text-align center
	font-weight bold
	font-size 1.69rem

.parrafo
	max-width 768px
	line-height 1.5
	margin-bottom 1rem
	font-weight 300

#encabezado

	.logo
		padding 50px 0

		img
			display block



#menu

	.lista
		display flex

	.enlace
		display block
		padding 10px 24px
		line-height 1
		color azul
		border-bottom 7px solid transparent
		text-transform uppercase
		font-weight bold

		&.activo,
		&:hover
			border-bottom 7px solid amarillo


#pie
	background-color azul
	text-align center
	padding 2rem

	.contenedor
		flex-direction column

	.parrafo
		color white
		font-size 1rem
		font-weight bold

	.creditos
		color celeste

#portada
	height 100vh
	overflow hidden
	position relative

	.carrusel
		//position relative
		height 100vh
		//overflow hidden

	.slick-prev,
	.slick-next
		border none
		font-size 0
		z-index 1
		width 56px
		height 58px
		background none

	.trozo
		width 100%

		img
			width 100%

	.slick-prev
		absolute top 50% left 10%
		background-image url( "../img/flecha-izquierda.png" )

	.slick-next
		absolute top 50% right 10%
		background-image url( "../img/flecha-derecha.png" )


#nosotros
	background-image url( '../img/fondo-nosotros.png' )
	background-size cover
	background-position bottom right

	.titulo
		color azul
		border-bottom-color azul

	.parrafo
		text-align center
		color gris


#servicios
	background-color azul
	background-image url( '../img/fondo-servicios.png' )
	background-size cover
	background-position bottom right

	.titulo
		color white
		border-bottom-color white

	.servicios
		display flex
		justify-content space-between

		.servicio
			width 29%

			.icono

				img
					display block
					margin 1rem auto

			.caja
				background-color celeste
				min-height 295px
				padding 20px 30px

				.subtitulo
					color amarillo
					text-transform uppercase
					font-size 1.3rem
					font-weight 500
					margin-bottom 1rem

					strong
						font-weight bold
						display block
						font-size 1.5rem
						color azul


				.parrafo
					color white
					font-size 0.88rem
					margin-bottom 1rem

				.sublista
					color white
					font-size 0.88rem
					line-height 1.4

	.enlaces

		.enlace.ver
			display block
			margin 2rem auto
			width 260px
			cursor pointer


#videos
	background-color gris
	background-image url('../img/fondo-videos.png')
	background-size cover
	background-position bottom right
	color white

	.cajas
		display flex
		justify-content space-between

		.video
			width 29%
			text-decoration none

			.previo
				position relative

				img
					display block

			.descripcion
				padding 18px 28px
				line-height 1.5
				background-color white
				color gris

			&:hover
				.previo::before
					content ' '
					display block
					position absolute
					top 0px
					left 0px
					right 0px
					bottom 0px
					background-image url('../img/over-video.png')
					background-repeat no-repeat
					background-position center

	.enlaces

		.enlace.ver
			display block
			margin 2rem auto
			width 260px
			cursor pointer

#galeria
	background-color celeste
	background-image url('../img/fondo-galeria.png')
	background-size cover
	background-position bottom right
	color white

	.cajas
		display flex
		justify-content space-between

		.imagen
			width 29%
			text-decoration none

			.previo
				position relative

				img
					display block

			.descripcion
				padding 18px 28px
				line-height 1.5
				background-color white
				color gris

			&:hover
				.previo::before
					content ' '
					display block
					position absolute
					top 0px
					left 0px
					right 0px
					bottom 0px
					background-image url('../img/over-galeria.png')
					background-repeat no-repeat
					background-position center
	.enlaces

		.enlace.ver
			display block
			margin 2rem auto
			width 260px

#contacto
	background-color #CCC
	background-image url('../img/fondo-contacto.png')
	background-size cover
	background-position bottom right

	.contenedor
		justify-content stretch
		align-content stretch
		width 100%

	.contenido
		width 50%
		flex 1 1 50%
		padding 2rem

	.titulo
		margin-right 0
		text-align right

	.form

		.fila
			margin-bottom 1rem

		.ingreso
			border 2px solid azul
			width auto

			input, textarea
				width 100%
				box-sizing border-box
				border none
				padding 0.5rem

		.control
			button
				display block
				border none
				padding 0
				background none

			img
				display block

