//- Plantilla
include utiles.jade

- var dir = "";

doctype html
html( lang="es" )
	head
		block titulo
			title= titulo

		meta( name="viewport", content="width=768, initial-scale=1.0" )
		//- +estilo("css/uikit.min.css")
		include estilos.jade
		block estilos

	body
		#pagina

			header#encabezado
				block encabezado
				include /partes/encabezado.jade

			section#contenido
				block contenido

			footer#pie
				block pie
				include /partes/pie.jade

		+guion( "//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" )
		block guiones
