extends base/estructura.jade

block estilos
	+estilo( "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" )

block contenido
	section#portada
		.carrusel
			div: .trozo
				img(src="http://www.gotceleb.com/wp-content/uploads/celebrities/kira-kosarin/nkd-magazine-october-2014/Kira-Kosarin:-NKD-Magazine-2014--03.jpg")
			div: .trozo
				img(src="https://66.media.tumblr.com/17a078900723598a6c180de51848260a/tumblr_nwhjz4FIeZ1uaiahoo1_1280.png")
			div: .trozo
				img(src="http://www.gotceleb.com/wp-content/uploads/celebrities/kira-kosarin/nkd-magazine-october-2014/Kira-Kosarin:-NKD-Magazine-2014--01.jpg")
			div: .trozo
				img(src="http://2.bp.blogspot.com/-FET5e2PE2Kk/Va_c15dT88I/AAAAAAAB36E/Qt7T79CSwTY/s1600/selena-gomez-adidas-neo-fall-winter-2015-part-2_2.jpg")

	section.seccion#nosotros
		.contenedor: .contenido
			h2.titulo Nosotros

			p.parrafo Somos una agencia de producción audiovisual y fotográfica especializada en el sector automotriz del mercado peruano. Realizamos producciones impactantes según los requerimientos de las marcas, logrando entregar contenido único para sus campañas, eventos, comerciales y pruebas de producto.

			p.parrafo Contamos con un equipo de trabajo especializado en la producción para el sector automotriz y equipos de última generación para la categoría.


	section.seccion#servicios
		.contenedor: .contenido

			h2.titulo Servicios

			.servicios
				.servicio
					.icono: img(src="img/ico-video.png")
					.caja
						h3.subtitulo.
							Produccion #[strong Audiovisual]

						p.parrafo Videos impactantes que resaltan las características del producto con el uso de tecnología de punta y un equipo profesional especializado

						ul.sublista
							li.item Reviews de Producto en Salón
							li.item Testdrive de producto
							li.item Pastillas de Redes Sociales
							li.item Edición de Videos
							li.item Animación en 2D y 3D
							li.item Otros proyectos

				.servicio
					.icono: img(src="img/ico-foto.png")
					.caja
						h3.subtitulo.
							Producción #[strong Fotográfica]

						p.parrafo Imágenes que transmiten historias sea en locaciones selectas como en movimiento.

						ul.sublista
							li.item Fotografía Estática en Salón y Locaciones Externas
							li.item Fotografía Dinámica de Producto
							li.item Cobertura de Eventos y otros

				.servicio
					.icono: img(src="img/ico-persona.png")
					.caja
						h3.subtitulo.
							LEAD #[strong MANAGEMENT]

						ul.sublista
							li.item Cualificación
							li.item Realizar Seguimiento
							li.item Medir efectividad de estrategia de leads de las marcas.

			.enlaces
				a.enlace.ver
					img(src="img/btn-servicios.png")

	section.seccion#videos
		.contenedor: .contenido

			h2.titulo Videos

			.cajas
				a.video(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El poder el Nissan 2016 en inéditas escenas de prueba.

				a.video(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El poder el Nissan 2016 en inéditas escenas de prueba.

				a.video(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El poder el Nissan 2016 en inéditas escenas de prueba.

			.enlaces
				a.enlace.ver
					img(src="img/btn-videos.png")

	section.seccion#galeria
		.contenedor: .contenido

			h2.titulo Galeria

			.cajas
				a.imagen(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El último modelo de Nissan 2016 y más detalles

				a.imagen(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El último modelo de Nissan 2016 y más detalles

				a.imagen(href="#")
					.previo: img(src="http://placehold.it/400x280/")
					.descripcion.
						El último modelo de Nissan 2016 y más detalles

			.enlaces
				a.enlace.ver
					img(src="img/btn-galeria.png")


	section.seccion#contacto
		.contenedor
			.contenido
				h2.titulo Contacto
				.form: form
					.fila: .ingreso: input(placeholder="Nombres y Apellidos")
					.fila: .ingreso: input(placeholder="Correo")
					.fila: .ingreso: input(placeholder="Teléfono")
					.fila: .ingreso: textarea Mensaje
					.fila: .control
						button(type="submit")
							img(src="img/btn-contacto.png")

			.contenido
				.datos
					img(src="img/logo.png")
					.telefono Central: 432-1012


block guiones
	+guion( "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" )
	+guion( "//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js" )
	+guion( "js/index.js" )
